<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Cadastrar Produto</title>

    <style>
        body { background-color: #f4f6f9; }
        .container { background-color: white; padding: 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); }
    </style>
</head>
<body>

    <div class="container mt-5">
        <h1 class="display-4 mb-4 text-primary">Cadastrar Produto</h1>

        <div class="alert alert-danger" role="alert" th:if="${erro}" th:text="${erro}"></div>

        <form th:action="@{/cadastrar}" th:object="${produto}" method="post">

            <div class="form-group">
                <label for="nome">Nome</label>
                <input id="nome" class="form-control" type="text" th:field="*{nome}" placeholder="Ex: Notebook" required>
            </div>

            <div class="form-group">
                <label for="preco">Preco</label><br>
                <input id="preco" type="number" th:field="*{preco}" placeholder="Ex: 1000.00" required step="0.01"/>
            </div>

            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select id="categoria" th:field="*{categoria}" class="form-control">
                    <option value="Eletrônico">Eletrônico</option>
                    <option value="Vestuário">Vestuário</option>
                    <option value="Alimento">Alimento </option>
                    <option value="Ferramentas">Ferramentas</option>
                </select>
            </div>

            <div class="form-group">
                <label for="estoque">Estoque</label><br>
                <input id="estoque" type="number" th:field="*{estoque}">
            </div>

            <button class="btn btn-primary" type="submit">Cadastrar</button>
            <a class="btn btn-secondary mt-3" href="/lista">Ver Lista de Produtos</a>
        </form>
    </div>
</body>
</html>